/ %h1 Find a Pokemon


= form_tag find_path, :method => :post do
  .center-me
    = text_field_tag 'query', nil, :class => 'big-ass-form', :type => 'text'
    = submit_tag 'Search', :class => 'btn btn-default big-ass-button'