%h1 Find a Pokemon

= form_tag find_path, :method => :post, :class => 'form-horizontal' do
  .form-group
    = label_tag 'query', 'Pokemon', :class => 'col-lg-2 control-label'
    .col-lg-5
      = text_field_tag 'query', nil, :placeholder => 'Pokemon', :class => 'form-control', :type => 'text'
  .form-group
    .col-lg-offset-2.col-lg-10
      = submit_tag 'Search', :class => 'btn btn-default'