#left_side_background {
  z-index: -1;
  left: 0%;
  top: 0%;
  width: 50%;
  height: 100%;
  position: absolute;
}

#right_side_background {
  z-index: -1;
  left: 50%;
  top: 0%;
  width: 50%;
  height: 100%;
  position: absolute;
}

#devolution_half {
  left: 0%;
  width: 50%;
  height: 125%;
  position: fixed;
  // border: 1px solid white;
  text-align: right;
  padding-right: 15px;
}

#evolution_half {
  left: 50%;
  width: 50%;
  height: 125%;
  position: fixed;
  // border: 1px solid black;
  text-align: left;
  padding-left: 15px;
}

.pokemon-page {
  color: white;
}

.pokemon-page .pokemon-hero {
  border-radius: 100px;
  background-color: black;
}

.pokemon-page .pokemon-hero .pokemon-hero-name {
  font-size: 100px;
}

.center {
  text-align: center;
}

.search-stuff {
  height: 150px;
  width: 50%;
  font-size: 50px;
  text-align: center;
}

.btn-search {
}

.btn-evolution {
  width: 500px;
  height: 100px;
  // font-size: 50px;
}