.normal {
  background-color: #A8A878;
}
.fire {
  background-color: #F08030;
}
.water {
  background-color: #6890F0
}
.electric {
  background-color: #F8D030
}
.grass {
  background-color: #78C850
}
.ice {
  background-color: #98D8D8
}
.fighting {
  background-color: #C03028
}
.poison {
  background-color: #A040A0
}
.ground {
  background-color: #E0C068
}
.flying {
  background-color: #A890F0
}
.psychic {
  background-color: #F85888
}
.bug {
  background-color: #A8B820
}
.rock {
  background-color: #B8A038
}
.ghost {
  background-color: #705898
}
.dragon {
  background-color: #7038F8
}
.dark {
  background-color: #705848
}
.steel {
  background-color: #B8B8D0
}
.fairy {
  background-color: #F0B6BC
}

.legend {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  display: inline-block;
}

.type-legend {
  bottom: 0;
}

.background_halves {
  z-index: -1;
  position: absolute;
}

.pokemon-page {
  color: white;
}

.pokemon-name {
  font-size: 100px;
}

.pokemon-evolution {
  margin-top: -25px;
  font-size: 25px;
}

#devolution_half {
  text-align: right;
  right: 50%;
  padding-right: 52%;
}

#evolution_half {
  text-align: left;
  left: 50%;
  padding-left: 52%;
}

#left_side_background {
  width: 50%;
  height: 100%;
  left: 0
}

#right_side_background {
  left: 50%;
  width: 50%;
  height: 100%;
}

.header {
  font-family: Helvetica;
  font-size: 25px;
  text-align: center;
  margin: auto;
}

.center-me{
  text-align: center;
}

.big-ass-form {
  text-align: center;
  font-size: 50px;
  font-family: Helvetica;
  height: 100px;
  width: 700px;
}

.row {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.big-ass-button {
  font-family: Helvetica;
  font-size: 50px;
  margin-bottom: 25px;
}

a, a:visited {
  color: #000000;
}

li {
  list-style-type: none;
  display: inline-block;
}


// .background_halves {
//   z-index: -1;
//   top: 0%;
//   width: 50%;
//   height: 100%;
//   position: fixed;
// }

// #left_side_background {
//   left: 0%;
// }

// #right_side_background {
//   left: 50%;
// }

// .evolution_halves {
//   width: 49%;
//   height: 100%;
//   display: inline-block;
//   vertical-align: top;
// }

// #devolution_half {
//   left: 0%;
//   text-align: right;
//   padding-right: 15px;
// }

// #evolution_half {
//   left: 50%;
//   text-align: left;
//   padding-left: 15px;
// }

// .pokemon-page {
//   color: white;
//   position: relative;
// }

// .pokemon-page .pokemon-hero {
//   border-radius: 100px;
//   background-color: black;
// }

// .pokemon-page .pokemon-hero .pokemon-hero-name {
//   font-size: 100px;
// }

// .center {
//   text-align: center;
// }

// .search-stuff {
//   height: 150px;
//   width: 50%;
//   font-size: 50px;
//   text-align: center;
// }

// .btn-search {
// }

// .btn-evolution {
//   width: 300px;
//   height: 100px;
//   margin-top: 2px;
//   margin-bottom: 2px;
//   // font-size: 50px;
// }